@font-face {

	/*only for code*/
	font-family:"CascadiaMono";
	src: url("fonts/CascadiaMono.ttf");
	
}
@font-face {

	font-family:"NotoSans";
	src: url("fonts/NotoSans.ttf");

}
html {

	background-color:#04040E;
}
div {
	color:#E6EBE0;
}
body {
	overflow: hidden;
	min-height:100vh;
	max-width:800px;
	margin: 0 auto;
	border: 0;
	padding: 0;
	background-color:#04040E;
}
a {
	color:#8CB9BC;
	text-decoration: none;
}
a:hover {

	color:#D03E2B;

}
h1.mainHeader {

	font-family:"NotoSans";
	font-size:40px;
	font-weight: 300;
	/*it make h1 in the center*/
	display: flex;
	justify-content: center;
	align-items: center;
	color:#E6EBE0;
}
.topMenu {

	display:flex;
	padding: 10px ;
	margin: 10px;
	background-color:#12131A;

}

.navigation {
	margin:0px 5px;
	font-family:"NotoSans";
	font-size:20px;
	font-weight: 600;
	display:grid;
    justify-content: space-between;
}
main.mainTheme {

	display:flex;
	flex-direction:column;
	align-items: center; 
	justify-content: center;
	padding:50px;
	font-family:"NotoSans";
	font-size:16px;
	font-weight:400;

}
