@font-face {

	/*only for code*/
	font-family:"CascadiaMono";
	src: url("fonts/CascadiaMono.ttf");
	
}
@font-face {

	font-family:"NotoSans";
	src: url("fonts/NotoSans.ttf");

}
html {

	min-height:100vh;
	background-color:#000000;
}
div {
	color:#ffff;
}
body {
	overflow: hidden;
	outline-color:#fff;
	outline-width:2px;
	outline-style:solid;
	max-width:800px;
	margin: 0px auto;
	border: 0;
	padding: 0;
	background-color:#000000;
}
a {
	color:#fff;
	text-decoration: none;
}
a:hover {
	text-decoration:underline

}
header {

	border-bottom:2px solid #fff;
	display:flex;
	padding: 10px 20px ;
	margin: 0px;

}

.navigation {
	margin:0px 5px;
	font-family:"NotoSans";
	font-size:20px;
	font-weight: 600;
    justify-content: space-between;
	display:grid;
}

.navigation a {

	padding:0px 5px;

}
main {

	margin:30px;
	font-family:"NotoSans";
	font-size:18px;
	font-weight:400;

}

footer {

	display:flex;
	flex-direction:column;
	align-items: center; 
	justify-content: center;
	font-family:"NotoSans";
	border-top:2px solid #fff;

}
