@font-face {

	/*only for code*/
	font-family:"Renogare";
	src: url("../fonts/Renogare.otf");
	
}
@font-face {

	/*only for code*/
	font-family:"CascadiaMono";
	src: url("../fonts/CascadiaMono.ttf");
	
}
@font-face {

	font-family:"NotoSans";
	src: url("../fonts/NotoSans.ttf");

}
html {

	margin:0px;
	min-height:100vh;
	background-color:#000000;
	scrollbar-width: none;

}
body{
	max-width:1280px;
	margin:20px auto;
	-ms-overflow-style: none;

}
main {
	font-family:Renogare;



}
a {


}
h1.celeste_header {
	text-align: center;
	font-size:24px;
	font-weight:300;
}
p.tech_header {

	font-size:20px;
	text-align: center;
}
nav.celeste_nav {
	text-align: center;

}
nav.celeste_nav a {
	margin:20px;
	color:#8fe38e;
	text-decoration: none;

}
nav.celeste_nav a:hover {
color:#fffcab;

}
video.celeste_guide {
	display: block;
	margin: 10px auto;
}
div.celeste_standart_text {

	margin: 0 auto;
	text-align: center;
}
div.celeste_standart_text div {
	margin:10px auto;

}
div.celeste_standart_text ul {
	list-style-type:none;
	padding-right:35px;
}
::-webkit-scrollbar {
  display: none;
}
